/* Container for the menu bar */
// .app-container {
//   background-color: #1F2833;
// }
.app-container {
  background-color: white; /* Black background color */
  color: #fff; /* Optional: Set text color to white for better contrast */
  min-height: 100vh; /* Ensures the container covers the full viewport height */
  display: flex;
  flex-direction: column; /* Aligns child elements vertically */
}

.menu-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #0B0C10; /* Dark background for a modern look */
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  border-bottom: 1px solid #444; /* Subtle bottom border for separation */
  height: 50px;

  .menu {
    display: flex;
    gap: 30px;
    font-size: 2.5rem;
    font-weight: 500; /* Slightly lighter weight for a cleaner look */
    letter-spacing: 0.5px; /* Adds a touch of modern typography */

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #e0e0e0; /* Light hover effect */
        text-decoration: underline;
      }
    }
  }

  .profile-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;

    .icon {
      cursor: pointer;
      
      font-size: 2.0rem; /* Larger icon for better visibility */
      transition: color 0.3s ease;

      &:hover {
        color: #e0e0e0; /* Icon color change on hover */
      }
    }

    .dropdown {
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #fff;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 6px;
      width: 180px;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: translateY(10px);

      &.open {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }

      .dropdown-item {
        padding: 12px 16px;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
          background-color: #f9f9f9;
          color: #45A29E; /* Change color on hover for a modern touch */
        }
      }
    }
  }
}
